@model CarFormModel

<form method="post">
    <div class="form-group">
        <label asp-for="Make"></label>
        <input asp-for="Make" class="form-control" />
        <span asp-validation-for="Make" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model"></label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TravelledDistance">Travelled Distance in meters</label>
        <input asp-for="TravelledDistance" min="0" class="form-control" />
        <span asp-validation-for="TravelledDistance" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AllParts">Travelled Distance in meters</label>
        <select asp-for="SelectedParts" asp-items="Model.AllParts" multiple class="form-control parts-select">
        </select>
        <small>*Hold "CTR" for multiple select.</small>
    </div>
    <div>
        <input type="submit" class="btn btn-success" value="Save Car" />
    </div>
</form>
