@{
    ViewData["Title"] = "Delete All Logs";
}

<h2>Are you sure you want to delete all logs?</h2>

<a href="/logs/destroy" class="btn btn-danger">Confirm Delete</a>
<a href="/logs/all" class="btn btn-default">Back</a>