@model IEnumerable<CarWithPartsModel>
@{
    ViewData["Title"] = $"Model Parts";
}
@foreach (var car in Model)
{
    <h3>@car.Make - @car.Model</h3>
    <ul>
        @foreach (var part in car.Parts)
        {
           
            <li> @part.Name - @part.Price.ToPrice()</li>
        }
    </ul>
}
<a class="btn btn-sm btn-default" href="/cars/parts">Back</a>

