@model int
@{
    ViewData["Title"] = "Delete Camera";
}
<h2>Are you sure you want to delete this Camera?</h2>
<a href="/cameras/destroy/@Model" class="btn btn-danger">Confirm Delete</a>
<a class="btn btn-md btn-default" href="/home/index">Back</a>



