@model HomeIndexViewModel

@{
    ViewData["Title"] = "ActiveAsync Courses";
}

<div class="jumbotron home-jumbotron">
    <h1 class="text-center">Welcome to our learning system!</h1>
</div>
<div class="row">
<div class="col-md-4"></div>
   
    <form asp-action="Search" method="get">
        <div class="col-md-3">
            <input asp-for="SearchText" class="form-control" placeholder="Search..."/>
        </div>
        <div class="col-md-3">
            <label asp-for="SearchInCourses"></label>
            <input asp-for="SearchInCourses"/>
            <label asp-for="SearchInUsers"></label>
            <input asp-for="SearchInUsers"/>
            <input class="btn btn-info" type="submit" value="Search"/>
        </div>
    </form>
   
</div>
<br />
<div class="row">
   @Html.Partial("_CourseListingsPartial", Model.Courses)
</div>

